body {
  background-color: rgb(230, 225, 219);
  background-size: auto;
  background-image: url(./img/1.jpg);
}

.post {
  position: relative;
  padding-top: 10%;
  padding-left: 25%;
}

.venom {
  position: relative;
  padding-left: 10%;
  padding-top: 5%;
}

.vs {
  position: relative;
  width: 200px;
  padding-left: 10%;
}

.start {
  background: rgb(242, 59, 59);
  background: radial-gradient(
    circle,
    rgba(242, 59, 59, 1) 0%,
    rgba(0, 0, 0, 1) 92%
  );
  color: rgb(255, 255, 255);
  font-size: 25px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: relative;
  left: 44.3%;
}

#start {
  position: relative;
  padding-top: 5%;
}

.attack {
  background: rgb(62, 59, 242);
  background: radial-gradient(
    circle,
    rgba(62, 59, 242, 1) 0%,
    rgba(42, 42, 42, 1) 100%
  );
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: relative;
  left: 15%;
}

.SPattack {
    background: rgb(179,0,255);
    background: radial-gradient(circle, rgba(179,0,255,1) 0%, rgba(42,42,42,1) 100%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 100%;
  width: 110x;
  height: 110px;
  position: relative;
  left: 20%;
}

.h1 {
  color: aliceblue;
  padding-left: 25%;
  font-size: 30px;
}
.h2 {
  color: aliceblue;
  padding-left: 65%;
  font-size: 30px;
  position: relative;
  top: -64px;
  z-index: 1;
}
